HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

back/eureka
back/gateway
back/auth/src/main/resources/application.yml
back/chat/src/main/resources/application.yml
back/coupon/src/main/resources/application.yml
back/eureka/src/main/resources/application.yml
back/funding/src/main/resources/application.yml
back/gateway/src/main/resources/application.yml
back/order/src/main/resources/application.yml
back/seller/src/main/resources/application.yml
back/user/src/main/resources/application.yml
