<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.funding.mapper.FundingMapper">

    <resultMap id="FundingResultMap" type="com.ssafy.funding.entity.Funding">
        <id column="funding_id" property="fundingId"/>
        <result column="seller_id" property="sellerId"/>
        <result column="title" property="title"/>
        <result column="description" property="description"/>
        <result column="story_file_url" property="storyFileUrl"/>
        <result column="price" property="price"/>
        <result column="quantity" property="quantity"/>
        <result column="target_amount" property="targetAmount"/>
        <result column="current_amount" property="currentAmount"/>
        <result column="start_date" property="startDate"/>
        <result column="end_date" property="endDate"/>
        <result column="status" property="status" typeHandler="com.ssafy.funding.entity.typeHandlers.StatusTypeHandler"/>
        <result column="category" property="category" typeHandler="com.ssafy.funding.entity.typeHandlers.CategoryTypeHandler"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <select id="findById" parameterType="int" resultMap="FundingResultMap">
        SELECT * FROM funding WHERE funding_id = #{fundingId}
    </select>

    <insert id="createFunding">
        INSERT INTO funding (seller_id, title, description, story_file_url, price, quantity, target_amount, start_date, end_date, status, category)
        VALUES (#{sellerId}, #{title}, #{description}, #{storyFileUrl}, #{price}, #{quantity}, #{targetAmount}, #{startDate}, #{endDate}, #{status}, #{category})
    </insert>


</mapper>