<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.funding.mapper.ReviewMapper">

    <resultMap id="ReviewResultMap" type="com.ssafy.funding.entity.Review">
        <id column="review_id" property="reviewId"/>
        <result column="user_id" property="userId"/>
        <result column="funding_id" property="fundingId"/>
        <result column="rating" property="rating"/>
        <result column="content" property="content"/>
        <result column="nickname" property="nickname"/>
        <result column="created_at" property="createdAt"/>
    </resultMap>

    <insert id="createReview" parameterType="com.ssafy.funding.entity.Review" useGeneratedKeys="true" keyProperty="reviewId">
        INSERT INTO review (user_id, funding_id, rating, content, nickname, created_at)
        VALUES (#{userId}, #{fundingId}, #{rating}, #{content}, #{nickname}, #{createdAt})
    </insert>

    <select id="findById" parameterType="int" resultMap="ReviewResultMap">
        SELECT * FROM review WHERE review_id = #{reviewId}
    </select>

    <select id="findByFundingId" parameterType="int" resultMap="ReviewResultMap">
        SELECT * FROM review WHERE funding_id = #{fundingId}
    </select>

    <select id="findBySellerId" resultMap="ReviewResultMap" parameterType="int">
        SELECT r.*
        FROM review r
                 JOIN funding f ON r.funding_id = f.funding_id
        WHERE f.seller_id = #{sellerId}
    </select>

    <select id="findByUserId" resultType="com.ssafy.funding.dto.review.response.ReviewDto">
        SELECT
            r.review_id,
            r.rating,
            r.content,
            r.user_id,
            r.nickname,
            r.funding_id,
            f.title
        FROM review r
                 JOIN funding f ON r.funding_id = f.funding_id
        WHERE r.user_id = #{userId}
    </select>

    <update id="updateReview" parameterType="com.ssafy.funding.entity.Review">
        UPDATE review
        SET content = #{content},
            rating = #{rating},
            created_at = #{createdAt}
        WHERE review_id = #{reviewId}
    </update>

    <delete id="deleteReview" parameterType="int">
        DELETE FROM review WHERE review_id = #{reviewId}
    </delete>

    <select id="existsByUserIdAndFundingId" resultType="boolean">
        SELECT EXISTS (
            SELECT 1 FROM review
            WHERE user_id = #{userId} AND funding_id = #{fundingId}
        )
    </select>

</mapper>
