<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.business.mapper.FundingDetailMapper">

    <resultMap id="fundingDetailResultMap" type="com.ssafy.business.dto.FundingDetailDTO">
        <id property="fundingId" column="funding_id" />
        <result property="sellerId" column="seller_id" />
        <result property="sellerName" column="name" />
        <result property="sellerProfileImageUrl" column="profile_img" />
        <result property="title" column="title" />
        <result property="imageUrls" column="image_urls" />
        <result property="story" column="story" />
        <result property="description" column="description" />
        <result property="price" column="price" />
        <result property="quantity" column="quantity" />
        <result property="targetAmount" column="target_amount" />
        <result property="currentAmount" column="current_amount" />
        <result property="startDate" column="start_date" />
        <result property="endDate" column="end_date" />
        <result property="status" column="status" />
        <result property="category" column="category" />
    </resultMap>

    <resultMap id="ReviewResultMap" type="com.ssafy.business.dto.ReviewDTO">
        <id property="reviewId" column="review_id" />
        <result property="rating" column="rating" />
        <result property="content" column="content" />
        <result property="userId" column="user_id" />
        <result property="nickname" column="nickname" />
        <result property="fundingId" column="funding_id" />
        <result property="title" column="title" />
    </resultMap>


    <!-- 펀딩 키워드 검색 조회 -->
    <select id="getFundingDetail" resultMap="fundingDetailResultMap">
        SELECT
            f.funding_id,
            f.seller_id,
            s.name,
            s.profile_img,
            f.title,
            f.image_urls,
            f.story,
            f.description,
            f.price,
            f.quantity,
            f.target_amount,
            f.current_amount,
            f.start_date,
            f.end_date,
            f.status,
            f.category
        FROM funding f
                 LEFT JOIN seller s ON f.seller_id = s.seller_id
        WHERE f.funding_id = #{fundingId}
    </select>

    <!-- 펀딩 review 검색 조회 -->
    <select id="getReviewList" resultMap="ReviewResultMap">
        SELECT r.review_id,
               r.funding_id,
               r.user_id,
               r.rating,
               r.content,
               u.nickname,
               f.title
        FROM seller s
                 LEFT JOIN funding f ON f.seller_id = s.seller_id
                 LEFT JOIN review r ON r.funding_id = f.funding_id
                 LEFT JOIN user u ON u.user_id = r.user_id
        WHERE s.seller_id = #{sellerId}
    </select>

</mapper>