<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.business.mapper.FundingMapper">

    <resultMap id="fundingResultMap" type="com.ssafy.business.entity.Funding">
        <id property="fundingId" column="funding_id" />
        <result property="sellerId" column="seller_id" />
        <result property="title" column="title" />
        <result property="imageUrl" column="image_urls" />
        <result property="description" column="description" />
        <result property="price" column="price" />
        <result property="quantity" column="quantity" />
        <result property="targetAmount" column="target_amount" />
        <result property="currentAmount" column="current_amount" />
        <result property="startDate" column="start_date" />
        <result property="endDate" column="end_date" />
        <result property="status" column="status" />
        <result property="category" column="category" />
        <result property="createdAt" column="created_at" />
        <result property="updatedAt" column="updated_at" />
    </resultMap>


    <!-- 전체 Funding 금액 조회 -->
    <select id="getTotalFund" resultType="java.lang.Long">
        SELECT COALESCE(SUM(total_price), 0) AS totalFund
        FROM `order`
    </select>

    <!-- Top Funding 리스트 조회 -->
    <select id="getTopFundingList" resultType="com.ssafy.business.entity.Funding">
        SELECT *
        FROM funding
        WHERE NOW() BETWEEN start_date AND end_date
        ORDER BY (current_amount / target_amount) * 100 DESC
        LIMIT 5
    </select>

    <!-- 최신 Funding 리스트 조회 -->
    <select id="getLatestFundingList" resultType="com.ssafy.business.entity.Funding">
        SELECT *
        FROM funding
        WHERE NOW() BETWEEN start_date AND end_date  -- 최신순은 뭘까? 시작시간이 현재와 가장 가까운 시간?
        ORDER BY start_date DESC
        LIMIT 5 OFFSET #{page}
    </select>

    <!-- 특정 카테고리의 Funding 리스트 조회-->
    <select id="getCategoryFundingList" resultType="com.ssafy.business.entity.Funding">
        SELECT *
        FROM funding
        WHERE category = #{category}
        AND NOW() BETWEEN start_date AND end_date  -- 최신순은 뭘까? 시작시간이 현재와 가장 가까운 시간?
        ORDER BY start_date DESC
        LIMIT 5 OFFSET #{page}
    </select>

</mapper>