<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="funding.funding.mapper.MainPageMapper">

    <!-- 현재 달성률이 가장 높은 펀딩프로젝트 상위 5개 조회 -->
    <select id="getTopFundingList" resultType="funding.funding.model.entity.Funding">
        SELECT *
        FROM funding
        ORDER BY (current_amount / target_amount) * 100 ASC
        LIMIT 5;
    </select>

    <!-- 현재까지의 total fund 조회 -->
    <select id="getTotalFund" resultType="java.lang.Long">
        SELECT COALESCE(SUM(total_price), 0) AS totalFund
        FROM `order`
    </select>

</mapper>